h1{background-color: aqua;color: white;
    font-size: 80px;text-align: center;
padding: 10px 30px;
margin-top: 10px;
margin-left: 100px;
margin-right: 100px;}
h4{text-align: center;
     font-size: 30px;}
     h2{background-color: red;color:white;
        width: fit-content;
    font-size: 30px;}
    h2:hover{background-color: blue;color: red;}
h1:hover{ background-color: red;color: blue;}
    body{background-image: url("9.jpg");height: 100vh;
        background-size: cover;background-position: center;}
    footer{text-align: center;
    font-size: 60px;}
a:link, a:visited{background-color: blue;
    color: white;}
 a:hover, a:active{background-color: aqua;
    color:white;}
    p{ color:white;font-size: 20;}